.wrapper {
    width: 98%;
    margin: 0 auto;
}

.loginform {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
}

input[type="text"],input[type="password"] {
    width: 300px;
    padding: 4px;
    font-size: 14px;
}

.header {
    float: left;
    height: 10px;
    width: 100%;
}

.wrapleft {
    float: left;
    width: 100%;
}

.left {
    margin-right: 387px;
}

#peer-container {
    background-color: #111;
    height: 800px;
}

.right {
    float: right;
    width: 353px;
    margin-top: 30px;
    margin-left: -369px;
    background-color: #eee;
    height: auto;
    padding: 8px;
}

.footer {
    float: left;
    width: 100%;
}

#camerr,#nocamera,#loginerr {
    color: #F33;
}

.li-avail {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
}

body {
    padding: 0px;
    margin: 10px;
    height: 1000px;
    font-family: 'sans-selif';
}

button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    border: 2px;
    margin: 2px;
    padding: 6px;
}

button:active {
    transform: scale(0.95);
}

li {
    list-style-position: inside;
    border: 1px solid #ccc;
    list-style-type: none;
    border-radius: 4px;
    margin: 10px;
    padding: 8px;
}

label {
    display: block;
}

/* http://codepen.io/Manoz/pen/pydxK */
/* https://blog.codepen.io/legal/licensing/ */
.letter-holder {
    padding: 8px;
    margin-bottom: 30px;
}

.letter {
    float: left;
    color: #777;
}

.load-6 .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.l-1 {
    animation-delay: .48s;
}

.l-2 {
    animation-delay: .6s;
}

.l-3 {
    animation-delay: .72s;
}

.l-4 {
    animation-delay: .84s;
}

.l-5 {
    animation-delay: .96s;
}

.l-6 {
    animation-delay: 1.08s;
}

.l-7 {
    animation-delay: 1.2s;
}

.l-8 {
    animation-delay: 1.32s;
}

.l-9 {
    animation-delay: 1.44s;
}

.l-10 {
    animation-delay: 1.56s;
}

@keyframes loadingF {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
