body {
  background-color: #333;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 98%;
}

.form-login {
  max-width: 400px;
  padding: 15px;
  margin: 50px  auto;
}

.form-call {
  padding: 15px;
  margin: 50px  auto;
}

.glyphicon-spin {
  font-size:22px;
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(359deg);
      transform: rotate(359deg);
    }
}
